<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" routerLink="/">Logo</a>

  <!-- Links -->
  <ul class="navbar-nav" style="margin-left: auto !important;">
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">About</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/services">Services</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/team">Team</a>
    </li>
  </ul>
</nav>
